<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {

        }

        .box {
            background-color: maroon;
            height: 60px;
            width: 100%;
            top: 100px;
        }

        nav {

            padding-top: 5px;
        }

        #SearchBar {
            position: absolute;
            height: 50px;
            width: 300px;
            right: 42%;
            text-align: center;

        }

        .profile {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 90%;
            border-radius: 20px;
            text-align: center;
            background-color: maroon;
        }

        .Logout {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 10%;
            border-radius: 20px;
            text-align: center;
            background-color: maroon;
        }

        #Search {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 38%;
            border-radius: 10px;
            text-align: center;
            background-color: maroon;
            color: white;
            transition: background-color 0.1s, color 0.1s

        }

        #Submit {
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 10px;
            text-align: center;
            background-color: maroon;
            color: white;
            transition: background-color 0.1s, color 0.1s

        }

        #SubTag {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 10%;
            top: 70%;
            border-radius: 10px;
            text-align: center;
            background-color: maroon;
            color: white;
            transition: background-color 0.1s, color 0.1s

        }

        #Search:hover {
            background-color: maroon;
            color: white;
            cursor: pointer;
        }

        h3 {
            right: 42%;
            color: purple;
            position: absolute;
            top: 110%;
        }

        .container {
            position: absolute;
            top: 12%;
            /*background-color: cyan;*/
            height: 680px;
            width: 100%;
            opacity: 1;
        }

        .col-md-3 {
            /*background-color: maroon;*/
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/nivo-slider.css">
    <link rel="stylesheet" type="text/css" href="themes/default/default.css">
</head>
<body>
<div class="box">
    <nav>
        <div class="profile"><a href="profile.html"><img src="../public/images/profile.png"
                                                         class="img-thumbnail img"></a></div>
        <input type="text" id="SearchBar" placeholder="Enter To Search">
        <button id="Search"><img src="../public/images/search.png" class="img-thumbnail img"></button>
        <div class="Logout"><a href="Login1.html"><img src="../public/images/logout.png" class="img-thumbnail img"></a>
        </div>
    </nav>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-3">
            <br>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">1</a>
                <a href="#" class="list-group-item list-group-item-action">2</a>
                <a href="#" class="list-group-item list-group-item-action">3</a>
                <a href="#" class="list-group-item list-group-item-action">4</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                        varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                        varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                        varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <label for="Qbox">Enter Your Question:</label>
            <textarea id="Qbox" rows="3" cols="41"></textarea>
            <br>
            <br>
            <div class="form-group">
                <label for="sel1">Select Tags:</label>
                <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <button id="Submit"><img src="../public/images/submit.png" class="img-thumbnail img"></button>
        </div>
    </div>
</div>
</body>
</html>